body{
    background-color: pink;
}
.content{
    display: flex;
    margin: left 50px;
    padding: 20px;
    color: blueviolet;
    justify-content: center;
    align-items: center;
    transition: color .5s ease;
}
.content h1:hover{
    color: brown;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery img {
    height: 500px;
    width: 400px;
    border: 10px solid #000;
    transition: border-color .5s ease;
  }

  .gallery img:hover {
    border-color: #ff0000;
  }